.form{
    padding: 30px 50px ;
    background-color: #f6f6f6;
}

.toggleBtn {
    color: #1976D2;
    text-align: center;
}

.toggleBtn:focus {
    outline: none;
    border: none;
}

@media screen and (max-width: 768px) {
    .form{
        padding: 25px;
    }
}

.errorMessage {
    color: red;
    font-size: 13px;
}